<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<header>
    <div th:replace="~{fragments/header-fragment ::header}"></div>

</header>


<div class="container d-flex flex-column align-items-center vh-100 mt-xxl-5">
    <div class="input-group">
        <form class="d-flex mx-auto" role="search" method="post" style="width: 50%;">
            <input class="form-control me-xl-3" type="search" placeholder="Search" aria-label="Search" name="search"
                   required="">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <div class="alert alert-danger  mt-xl-4" role="alert" th:if="${model.searchWeatherException != null}">
        <span th:text="${model.searchWeatherException}"></span>
    </div>

    <div th:if="${model.searchCityList != null}" class="d-flex flex-row mt-4 overflow-auto mt-4">
        <form class="card mx-2" style="width: 18rem;" th:each="city : ${model.searchCityList}" action="/" method="post">
            <div class="card-body">
                <h5 class="card-title" th:text="|${city.getName} ${city.getCountry}|"></h5>
                <p class="card-text"></p>
                <input type="hidden" name="name" th:value="|${city.getName} ${city.getCountry}|">
                <input type="hidden" name="lat" th:value="${city.getLat}">
                <input type="hidden" name="lon" th:value="${city.getLon}">
                <input type="hidden" name="seeMore" th:value="${true}">
                <button type="submit" class="btn btn-primary" role="button">See more</button>
            </div>
        </form>
    </div>

    <div th:if="${model.searchCityException != null}" class="mt-xl-4 text-center">
        <div class="alert alert-danger mx-auto" role="alert" style="max-width: 500px;">
            <span th:if="${model.searchCityException.message}" th:text="${model.searchCityException.getMessage()}"></span>
        </div>
    </div>
    <div th:if="${model.error != null}" class="mt-xl-4 text-center">
        <div class="alert alert-danger mx-auto" role="alert" style="max-width: 500px;">
            <span th:text="${model.error}"></span>
        </div>
    </div>

    <div th:replace="~{fragments/seeMoreWeatherInCity ::seeWeather}"></div>
    <div th:replace="~{fragments/favoritesWeather ::favoritesWeather}"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>