<!-- header-fragment.html -->
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="favoritesWeather">
  <div th:if="${model.favoritesLocations != null}" class="d-flex flex-row flex-wrap mt-4 overflow-auto mt-4">
    <form th:if="${model.favoritesLocations.isSuccessful}" action="/home" method="post" class="d-flex flex-row flex-wrap">
      <div class="card mx-2 mb-2" style="width: 18rem;" th:each="weatherResultSuccessful : ${model.favoritesLocations.searchWeatherResultsSuccessful}">
        <div class="card-body">
          <h5 class="card-title" th:text="${weatherResultSuccessful.weather.getCityName}"></h5>
          <div th:with="currentWeather=${weatherResultSuccessful.weather.current}">
            <p th:text="|Temp: ${currentWeather.getTemp}&deg;C|"></p>
            <p th:text="|Feels like: ${currentWeather.getFeelsLike}&deg;C|"></p>
            <p th:text="|Pressure: ${currentWeather.getPressure} pascal|"></p>
            <p th:text="|Humidity: ${currentWeather.getHumidity} %|"></p>
            <p th:text="|Pressure: ${currentWeather.getHumidity} %|"></p>
            <p th:text="|Dew point: ${currentWeather.getDewPoint} &deg;C|"></p>
            <p th:text="|Current UV index: ${currentWeather.getUvi}|"></p>
            <p th:text="|Average visibility: ${currentWeather.getVisibility} metres|"></p>
            <p th:text="|Wind speed: ${currentWeather.getWindSpeed} metre/sec|"></p>
            <p th:if="${currentWeather.getWindGust != null}" th:text="|Wind speed: ${currentWeather.getWindGust} metre/sec|"></p>
            <p th:text="|Wind direction: ${currentWeather.getWindDirection}|"></p>
            <p th:if="${currentWeather.rain != null and currentWeather.rain.oneHour != null}" th:text="|Precipitation: ${currentWeather.rain.oneHour} mm/h|"></p>
            <p th:if="${currentWeather.snow != null and currentWeather.snow.oneHour != null}" th:text="|Precipitation: ${currentWeather.snow.getOneHour} mm/h|"></p>
          </div>
          <input type="hidden" name="removeLocation" th:value="${weatherResultSuccessful.getLocationId}">
          <button type="submit" class="btn btn-primary" role="button">Delete</button>
        </div>
      </div>
    </form>
    <div th:unless="${model.favoritesLocations.searchWeatherResultsUnSuccessful.isEmpty()}" class="d-flex flex-row mt-4 overflow-auto mt-4">
      <div class="card mx-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Error</h5>
          <p th:text="'Sorry, we couldn\'t show you ' + ${model.favoritesLocations.searchWeatherResultsUnSuccessful.size()} + ' locations'"></p>
        </div>
      </div>
    </div>
    <div th:unless="${model.favoritesLocations.isSuccessful}" class="d-flex flex-row mt-4 overflow-auto mt-4">
      <div class="card mx-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Error</h5>
          <p th:text="${model.favoritesLocations.errorMessage}"></p>
        </div>
      </div>
    </div>
  </div>
</div>